<div class="flex justify-center pt-20 pb-36 md:pl-48 lg:pl-24 bg-black/30 h-screen w-screen backdrop-blur-sm animate-fadeIn">
  <div class="mx-auto min-w-[330px] max-w-[330px] md:min-w-[550px] md:max-w-[550px]">
    <div class="bg-gray-100 h-[680px] md:h-[360px] rounded-lg">
      <div class="w-full mx-auto px-4">
        <div class="flex justify-center font-semibold text-2xl pt-16">
          パスワード再設定
        </div>
        <%= form_with model: @user, url: password_reset_path(@token) do |f| %>
          <div class="pt-8 ml-20 mb-2 mx-auto">
            <%= f.password_field :password, class: 'block w-[240px] md:w-[350px] rounded-md', placeholder: '新しいパスワード' %>
          </div>
          <div class="flex justify-center pt-4">
            <%= f.submit "パスワードを更新", class: 'w-60 md:w-[350px] h-12 mb-6 text-white text-sm bg-indigo-500 hover:bg-indigo-600 rounded-xl' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
