<%= @user.name %> 様
<p>===============================================</p>

<p>いつも「GearNET」をご利用いただき、ありがとうございます。

<p>パスワード変更のリクエストを受け付けました。</p>
<p>以下のリンクより、新しいパスワードを設定してください。</p>

<p>パスワード再発行リンク（リンクの有効期限は24時間です）</p>
<p><a href="<%= @url %>"><%= @url %></a></p>

<p>なお、心当たりのない場合は、当メールを破棄していただけますようお願い申し上げます。</p>

<p>引き続き、どうぞよろしくお願いいたします。</p>

<p>===============================================</p>