<%= turbo_frame_tag "like-button-#{@post.id}" do %>
  <% if current_user.liked?(@post) %>
    <div class="animate-jiggle">
      <%= render 'likes/unlike', post: @post %>
    </div>
  <% else %>
    <%= render 'likes/like', post: @post %>
  <% end %>
<% end %>
